@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --ff: 'Karla';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff);
    background-color: var(--Light-Gray);
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 20px;
}
.grid {
    max-width: 800px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid div:nth-child(1) {
    grid-column: span 2;
}
.community {
    display: grid; 
    padding: 2rem;
    gap: 1rem;
}
.community h1 {
    font-size: 2rem;
    color: var(--Cyan);
    margin-bottom: 1rem;
}
.highlight {
    color: var(--Bright-Yellow);
}
.gray {
    color: var(--Grayish-Blue);
}
.subscription {
    background-color: var(--Cyan);
    color: white;
    display: grid;
    gap: 1rem;
    padding: 2rem;
}
.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn {
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--Bright-Yellow);
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 1rem 0;
}
.why {
    color: white;
    background-color: hsl(179, 53%, 53%);;
    display: grid;
    gap: 1rem; 
    padding: 2rem;
}
.why ul {
    list-style: none;
    color: var(--Light-Gray);
}

@media (max-width: 768px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}